* {
    box-sizing: border-box;
}

html {
    font-family: poppins, sans-serif;
    font-weight: 500;
}

body {
    margin: 0;
    background-color: var(--clr-primary-1);
}

canvas {
    border: 1px solid whitesmoke;
    border-radius: 25px;
}

img {
    width: 100%;
}