/* flex helpers */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-1 {
    flex: 1;
}


/* grid helpers */
.grid {
    display: grid;
}


/* position helpers */

.relative {
    position: relative;
}

/* list helpers  */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none
}


/* display helpers */

.active {
    display: block;
}

.hidden {
    display: none;
}

